@import "./variables.scss";

// your global style;

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#file {
    background-color: #ccc;
    border: 1px solid #aaa;
    text-align: center;
    padding: fixpx(10);
    border-radius: fixpx(6);
}

#imgbox {
    width: 300px;
    margin: 0 auto;
    position: relative;
}
img {
    width: 300px;
    height: auto;
    display: block;
}
canvas {
    position: absolute;
    transform:translate3d(0,0,0);
    left: 0;
    top: 0;
    z-index: 3;
}